{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 80,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": "*.ejs",
      "options": {
        "parser": "html",
        "htmlWhitespaceSensitivity": "ignore"
      }
    }
  ],
  "[ejs]": {
    "editor.formatOnSave": false
  }
}
