<!DOCTYPE html>
<html lang="en">
  <%- include("header.html") %>
  <body>
    <%- include("navbar.html") %>
    <p>User ID: <%= session.userId %></p>
    <!-- When no session logged -->
    <% if (!session.userID) { %>
    <p><a href="/login">Login</a> to access your products</p>
    <% } else { %>
    <ul class="list-group">
      <% products.forEach(product => { %>
      <li class="list-group-item">
        <%= product.name %> is <%= product.price %>
      </li>
      <% }) %>
    </ul>
    <% } %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
