<%- include("header.html") %>

<nav class="navbar navbar-expand-lg bg-primary navbar-dark mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><%= __('appName') %></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">
            <%= __('Home') %>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/products/add">
            <%= __('Add Product') %>
          </a>
        </li>
      </ul>
      <div class="d-flex align-items-center gap-3">
        <!-- Language switchers -->
        <% getlocales().forEach(locale => { %>
        <a href="/change-lang/<%= locale %>" class="text-light">
          <i class="bi bi-globe"></i>
          <%= locale %>
        </a>
        <% }) %>

        <!-- Login/Logout button -->
        <% if (!session.userId) { %>
        <a class="btn btn-success" href="/login"><%= __('Login') %></a>
        <% } else { %>
        <a class="btn bg-light text-success" href="/login/logout">
          <%= __('Logout') %>
        </a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"
></script>
